<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.qurrah">
    <!--
     The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
     Google Maps Android API v2, but you must specify either coarse or fine
     location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" /> <!-- we need it for rendering the map -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".App.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="قُرّة"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:label">

        <activity android:name=".UI.BottomAppBarHandlerActivity"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name=".UI.ReportTypes.HumanReport"
            android:label="بلاغات الأشخاص"
            android:parentActivityName=".UI.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".UI.ReportTypes.AnimalReport"
            android:label="بلاغات الحيوانات"
            android:parentActivityName=".UI.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".UI.ReportTypes.DeviceReport"
            android:label="بلاغات الأجهزة"
            android:parentActivityName=".UI.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".UI.ReportTypes.OtherReport"
            android:label="بلاغات أخرى"
            android:parentActivityName=".UI.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".UI.EditReportActivity"
            android:parentActivityName=".UI.MyReport"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".Adapters.MyReportAdapter"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.MyReport"
            android:label="بلاغاتي"
            android:parentActivityName=".UI.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <!--
         The API key for Google Maps-based APIs is defined as a string resource.
         (See the file "res/values/google_maps_api.xml").
         Note that the API key is linked to the encryption key used to sign the APK.
         You need a different API key for each encryption key, including the release key that is used to
         sign the APK for publishing.
         You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <activity
            android:name=".UI.ForgotPasswordActivity"
            android:label="إستعادة كلمة المرور"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
        android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".UI.FirstPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.HomeActivity"
            android:label="الصفحة الرئيسية"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".UI.RegistrationActivity"
            android:label="حساب جديد"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".UI.VerifyPhoneActivity"
            android:label="التحقق"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".UI.ProfileActivity"
            android:label="حسابي"
            android:parentActivityName=".UI.HomeActivity"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".UI.UpdateProfile"
            android:parentActivityName=".UI.HomeActivity" />
        <activity
            android:name=".UI.MainActivity"
            android:label="تسجيل الدخول"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".UI.ReportActivity"
            android:label="اضافة بلاغ"
            android:parentActivityName=".UI.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"
            android:launchMode="singleTask"/>
        <activity
            android:name=".UI.UpdatePassword"
            android:label="تغيير كلمة المرور"
            android:parentActivityName=".UI.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".UI.ViewReport"
            android:label="البلاغ" />
        <activity
            android:name=".UI.RegisteredUserReportView"
            android:label="البلاغ"
            android:parentActivityName=".UI.MyReport"
            android:screenOrientation="portrait" />
<!--        <activity-->
<!--            android:name=".UI.SecondPage"-->
<!--            android:screenOrientation="portrait" />-->
        <activity
            android:name=".UI.UnregisteredUserSecondActivity"
            android:label="الصفحة الرئيسية"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.ChatActivity"
            android:label="محادثاتي"
            android:parentActivityName=".UI.HomeActivity"
            android:windowSoftInputMode="adjustNothing"
            android:launchMode="singleTask"/>
        <activity android:name=".UI.MessageActivity" />
        <activity android:name=".Kotlin.PickLocationActivity" />

        <activity
            android:name=".UI.MapActivity"
            android:label="خريطة البلاغات"
            android:launchMode="singleTask"/>

        <activity
            android:name=".UI.helpActivity"
            android:label="الدعم"
            android:parentActivityName=".UI.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>

        <activity android:name=".LocationTrackingServices.LocationTracking" />

        <activity android:name=".UI.terms"
            android:parentActivityName=".UI.RegistrationActivity"
            android:screenOrientation="portrait"
            android:label="الشروط والأحكام"/>

        <service
            android:name=".FirebaseNotifications.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".FirebaseNotifications.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".LocationTrackingServices.LocationJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".LocationTrackingServices.UploadLocationService"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_map_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> <!-- because we are targeting API 29 and above -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>