<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools"
package="com.example.qurrah">
<!--
     The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
     Google Maps Android API v2, but you must specify either coarse or fine
     location permissions for the 'MyLocation' functionality.
-->

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="YOUR_API_KEY"/>

    <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="قُرّة"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning"
    tools:replace="android:label">
    <activity android:name=".HumanReport" android:parentActivityName=".SecondActivity" android:screenOrientation="portrait"></activity>
    <activity android:name=".AnimalReport" android:parentActivityName=".SecondActivity" android:screenOrientation="portrait"></activity>
    <activity android:name=".DeviceReport" android:parentActivityName=".SecondActivity" android:screenOrientation="portrait"></activity>
    <activity android:name=".OtherReport" android:parentActivityName=".SecondActivity" android:screenOrientation="portrait"></activity>
    <activity android:name=".EditReportActivity" android:parentActivityName=".MyReport" android:screenOrientation="portrait"/>
    <activity android:name=".MyReportAdapter" android:screenOrientation="portrait"/>
    <activity android:name=".MyReport" android:parentActivityName=".SecondActivity" android:screenOrientation="portrait"/>
    <!--
         The API key for Google Maps-based APIs is defined as a string resource.
         (See the file "res/values/google_maps_api.xml").
         Note that the API key is linked to the encryption key used to sign the APK.
         You need a different API key for each encryption key, including the release key that is used to
         sign the APK for publishing.
         You can define the keys for the debug and release targets in src/debug/ and src/release/.
    -->
    <activity android:name=".ForgotPasswordActivity" android:screenOrientation="portrait"/>
    <activity
        android:name=".FirstPage"
        android:theme="@style/AppTheme1" android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".SecondActivity" android:screenOrientation="portrait"/>
    <activity
        android:name=".RegistrationActivity"
        android:theme="@style/AppTheme1"  android:screenOrientation="portrait"/>
    <activity
        android:name=".VerifyPhoneActivity"
        android:theme="@style/AppTheme1" android:screenOrientation="portrait"/>
    <activity android:name=".ProfileActivity" android:parentActivityName=".SecondActivity" />
    <activity android:name=".UpdateProfile" android:parentActivityName=".SecondActivity" />
    <activity
        android:name=".MainActivity"
        android:theme="@style/AppTheme1" android:screenOrientation="portrait"/>
    <activity
        android:name=".ReportActivity"
        android:parentActivityName=".SecondActivity"
        android:screenOrientation="portrait"
        />
    <activity android:name=".UpdatePassword" android:parentActivityName=".SecondActivity" android:screenOrientation="portrait"/>
    <activity android:name=".ViewReport"  />
    <activity android:name=".RegisteredUserReportView" android:parentActivityName=".MyReport" android:screenOrientation="portrait"/>
    <activity android:name=".SecondPage" android:screenOrientation="portrait" />
    <activity android:name=".UnregisteredUserSecondActivity"  android:screenOrientation="portrait"/>
    <activity android:name=".ChatActivity" />
    <activity android:name=".MessageActivity" />
    <service
        android:name=".Notifications.MyFirebaseMessaging"
        android:stopWithTask="false">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
    </service>
</application>
    

</manifest>